body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-contenido {
  background: #fff;
  padding: 3rem;
  border-radius: 12px;
  width: 350px;
  max-width: 90%;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.login-contenido h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #39a900;
}

.input-grupo {
  margin-bottom: 1rem;
}

.input-grupo label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.input-grupo input {
  width: 93%;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* Botones */
.btn-submit, .btn-registrar {
  display: block;
  width: 93%;
  padding: 0.8rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 1rem;
  transition: background 0.3s ease;
}

.btn-submit {
  background: #39a900;
  color: white;
}

.btn-submit:hover {
  background: #2c7f00;
}

.btn-registrar {
  background: #0056b3;
  color: white;
}

.btn-registrar:hover {
  background: #00408a;
}
